* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth
}
header {
  background-color: blue;
  padding: 24px;
 
}
.menu {
  display: flex;
  gap: 20px;
  position: sticky;
  
}

.menu a {
  text-decoration: none ;
  color: black;
  
}
.menu a:hover
{
 color:white;
 text-decoration:none;
 cursor:pointer;
}

main {
  background-color: aqua;
  height: calc(100vh - 24px);
}

.texto {
  display: flex;
  gap: 50px;
}

.texto {
  height: 80vh;
}
p {
  font-size: 1.5;
}

h1 {
  font-size: 2rem;
  padding: 20px;
}