@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-family: 400;
}
header {
  background-color: rgba(41, 39, 39, 0.842);
  display: flex;
}
.logo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 20px 20px 0 20px;
}
.name-contato{
  color: white;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 30px;
  font-weight: 400;
}

body {
  background-color: rgb(87, 81, 81);
}

.sexo{
  margin: 30px 0;
}

.select {
  margin: 30px auto;
}

form {
  margin: 0 auto;
  margin-top: 20px;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  background-color: rgb(195, 192, 192);
}

legend {
  margin: 20px auto;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  font: 1em sans-serif;
  width: 300px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 15em;
  resize: vertical;
}

.button {
  margin: 5px;
  padding-left: 90px;
}
button {
  margin-left: .5em;
}