@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  background-color:  #131313;
}

h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}

h2 {
  font-size: 20px;
  color:  ‘steelblue’;
}

p {
  color: #bdbdbd;
  font-family: 'Roboto', sans-serif;
}

a {
  color: ‘yellow’;
}

.media-picture {
  background-image: url(https://i1.wp.com/oportaln10.com.br/dinastianerd/wp-content/uploads/2021/10/Marvel-Studios-Eternos.jpg?fit=1366%2C768&ssl=1);
  width: 100%;
  height: 400px;
}

.review-score {
  padding: 12px;
  background-color: #e6bd09;
  color:  ‘white’;
}
