* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Design the background and add the image, I have used the background image. */
/* body {
  font: 13px / 20px "Open Sans", Tahoma, Verdana, sans-serif;
  background-image: url(https://i.pinimg.com/originals/28/5a/75/285a756c127d6907f1e8ef13a34ee0f7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
} */
/* ========== Convert background to Glassmorphism  using Glassmorphism design */
.form {
  position: relative;
  margin: 10px ;
  margin-bottom: 50px;
  /* width: 500px;
  height: 880px; */
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255,255,255,0.2);
  border-left: 1px solid rgba(255,255,255,0.2);
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
  border-radius: 4px;
 
}

#form {
  display: flex;
  justify-content: center;
}

.form {
  background-image: url(https://i.pinimg.com/originals/23/c3/dc/23c3dcab256e90153c4d03ea769ff571.jpg);
  
  
}
 
/* I used a header line in the login form, the background of that header line has been made a little more opaque so that it can be understood separately from the complete login form. */
.field {
  height: 80px;

}

.field:hover {
  /* transform: scaleY(1.5); */
  transform: scale(1.1);
  transition: all 0.5s;
}

.fieldset .info {
  width: 500px;
  font-size: 15px;
  margin-left: -10px;
}
.form h1 {
  line-height: 55px;
  font-size: 24px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
    margin-top: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/* I have used the following codes to design the place to input the email ID and password. */
.fieldset{
  width: 100%;
  border: none;
  margin: 10px;
  
}


.form .field {
  position: relative;
  margin: 0 50px;
}

::-webkit-input-placeholder {
  color: #ffffff;
  font-family: "Open Sans";
}

.fieldset input[type=text], input[type=password],
input[type=email], input[type=tel] {
  font-family: "Open Sans", Calibri, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 15px 10px 55px;
  position: relative;
  width: 100%;
  height: 44px;

  border: none;
  background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
  color: rgb(255, 255, 255);
  transition: color 0.3s ease-out;
}

.form input[type=text] {
  margin-bottom: 15px;
}

.form input[type=email], input[type=tel] {
  margin-top: 15px;
}

.form input[type=checkbox] {
  margin: 40px 0;
}

.form .label-box {
  margin: 38px 0px;
}

.form .field  i {
  font-size: 18px;
  left: 0px;
  top: 0px;
  position: absolute;
  height: 44px;
  width: 44px;
  color: #f7f3eb;
  background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
  text-align: center;
  line-height: 44px;
  transition: all 0.3s ease-out;
  pointer-events: none;
}

/* =======ESTILIZANDO DATA ====== */
.fieldset .date {
   height: 50px;
    margin-bottom: 60px;
    display: flex;
    gap: 10px;
    align-items:flex-end;
}

.date-label {
  display: inline-block;
  margin-top: 30px;
} 

.age {
  display: flex;
  gap: 20px;
}

.box {
  display: flex;
  gap: 10px;
}

p {
  color: #f7f3eb;
  font-size: 15px;
}

/* ====== SUBMIT RESET BUTTON ======== */

.form input[type=submit], input[type=reset] {
  margin-top: 15px;
  width: 100px;
  text-align: center;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding: 12px 0;

  color: #fff;
  background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);

  text-transform: uppercase;
  border: none;

  margin-bottom: 20px;
  
}

.sub-menu {
  display: flex;
  gap: 90px;

}

.submit:hover, .reset:hover {
  transform: scale(1.5);
  transition: all 0.3s;
}

.form input[type=submit] {
  margin-left: 90px;
  
}

.cadastro {
  color: black;
  font-family: 'Quicksand', sans-serif;
  padding-top: 20px;
  font-size: 18px;
}