@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p,
a {
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #131212fa;
}
.main-header {
  background-color: #161515d0;
  width: 100%;
  padding: 24px 0;
  position: fixed;
}

.main-header nav {
  max-width: 1200px;
  height: 40px;
  margin: 0 auto;
}

.main-header nav ul {
  display: flex;
  gap: 42px;
  list-style: none;
}

.main-header li a {
  font-size: 20px;
  color: #45f3d3;
  text-decoration: none;
  font-weight: 300;
  line-height: 40px;
}

.main-header li .active {
  font-weight: 500;
}

.main-header a img {
  width: 70px;
  margin-right: 80px;
  margin-top: -12px;
}

.promocao {
  background-color: #dfca0e34;
  padding: 24px 0;
  margin: 80px 0 100px 0;
  text-align: center;
  color: #d62d2d;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.main-content .banner {
  width: 100%;
  height: 600%;
  object-fit: cover;
  margin-top: 80px;
}

.main-content .products {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 72px auto;
}

.main-content .products .product {
  width: 30%;
  border: 2px solid #72707055;
  border-radius: 12px;
  margin-bottom: 32px;
  background-image: -webkit-radial-gradient(circle, white, black);
}

.main-content .product img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.main-content .product h1 {
  font-size: 24px;
  margin: 20px 0 20px;
  color: white;
}

.main-content .product p {
  color: #d1c9c9ce;
  margin-bottom: 18px;
}

.main-content .product a {
  color: #45f3d3;
  background-color: rgba(20, 17, 17, 0.746);
  text-align: center;
  padding: 24px 0;
  text-decoration: none;
  display: block;
  border-radius: 12px;
  box-shadow: #3b3838;
}

.main-content .product main {
  padding: 12px;
  background-color: #1f1f20ef;
}

.topo {
  position: fixed;
  bottom: 60px;
  right: 32px;
}

.topo img {
  width: 50px;
}

footer {
  max-width: 100%;
  height: 100px;
  background-color: #181616;
  border: 2px solid #474444;
}

.icon {
  max-width: 1200px;
  height: 100%;
}

.icon img {
  width: 50px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 35;
  justify-content: space-between;
  margin: 0 auto;

  background-color: #d62d2d;
}
