* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

body {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-areas: 
  'main-header main-header'
  'main-content main-aside';
  background-color: black;

}

header {
  grid-area: main-header;
  padding: 20px 0;
}

header h1 {
  color: honeydew;
  display: flex;
  justify-content: center;
}

main {
  grid-area: main-content;
  padding: 40px 20px 0;
}
.main-video{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-video h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

.main-video h2{
  font-size: 16px;
  color: white;
}
.main-video img {
  width: 100%;
  object-fit: cover;

}

aside {
  grid-area: main-aside;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0;

}

aside .video {
  display: flex;
  gap: 10px;
}

aside .video-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.video-info h1 {
  font-size: 24px;
  color: white;
}

.video-info h2,
.video-info h3, 
.video-info p {
  font-size: 16px;
  color: white;
}

aside .video img {
  max-width: 150px;
  object-fit: cover;
}