@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: rgb(39, 36, 36);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(51, 51, 51);;
  padding: 24px;
}

.main-menu {
  display: flex;
  gap: 20px;
}
 

.main-menu a {
  opacity: .6;
  color: rgb(255, 255, 255);
  transition: .4s ease-in-out;
 
}

.main-menu a:hover {
  opacity: 1; 
  background-color: aqua;
  transition: .2s ease-in-out;
  border-radius: 2px solid;
  padding: 15px;

}

.header button{
  height: fit-content;
    color: white;
    font-size: 18px;
    border: 1px solid white;
    background-color: transparent;
    padding: 12px 24px;
    border-radius: 24px;

}

main {

  padding: 42px;

}

main h1 {

  color: white;
}

.videos {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 72px;

}

.video {

  width: 400px;
  transition: .5s ease-in-out;

}

.video:hover {

  transform: scale(1.05);

}

.video img {

  width: 100%;
  height: 200px;
  object-fit: fill;

}

.video h1 {

  font-size: 18px;
  background-color: black;
  text-align: center;
}