.caixa-um {
  width: 200px;
  height: 200px;
  background-color: black;
  padding: 24px;
  position: relative;
  left: 82%;
}

.caixa-dois {
  width: 200px;
  height: 200px;
  background-color: black;
  padding: 24px;
  position: absolute;
  top: 10px;
}

.caixa-tres {
  width: 200px;
  height: 200px;
  background-color: black;
  padding: 24px;
  position: absolute;
  bottom: 10px;
  left: 40%;
}

.caixa-interna {
  width: 70%;
  height: 70%;
  background-color: skyblue;
  position: relative;
  left: 30px;
  bottom: -10px;
}

h1 {
  text-align: center;
  position: relative;
  bottom: -40px;
}
